invade:
  # debug: true

# Machine settings. Each entry is one box
machines:

  # Machine 1 (default)
  default:

    # VM related settings
    vm:
      box: boxcutter/debian82
      hostname: 'invade.vm'

    # Network settings
    network:
      private:
        ip: '10.42.133.7'

    # Provider related settings. Performance, naming
    provider:
      vmware:
        name: 'invade'
        cores: 4
        memory: 512
      virtualbox:
        name: 'invade'
        cores: 4
        memory: 512

    # Synced Folder settings
    # synced_folder:
    #   nfs:
    #     name: 'www'
    #     source: '../..'
    #     mount_options:
    #       - nolock

    # provision:
    #   shell:
    #     name: 'set-permissions'
    #     inline: 'chmod 777 /tmp'
    #   shell:
    #     name: 'run-composer'
    #     path: '/home/vagrant/provision/shell/run-composer.sh'
    #   puppet:
    #     manifests_path: './puppet/manifests'
    #     manifest_file: 'init.pp'
    #     module_path: ['./puppet/modules', './puppet/vendor']
    #     facter: []

    plugin:
      hostmanager:
        enabled: true
        aliases:
          - my-1337-project.local
      # winnfsd:
      #   enabled: true
      # r10k:
      #   puppet_dir: './puppet'
      #   puppetfile_path: './puppet/Puppetfile'
      #   module_path: './puppet/vendor'
