enabled: true
debug: false

# Machine settings. Each entry is one box
machines:

  # Machine LPS
  lps:

    # Box related settings
    box:
      name: invade/default

    # Network settings
    network:
      type: 'private'
      ip: '10.42.133.7'
      hostname: 'invaded.vm'

    # Provider related settings. Performance, naming
    provider:
      name: 'my-1337-project'
      type: 'virtualbox'
      cores: 4
      memory: 512

    # Synced Folder settings
    synced_folder:
      www:
        enable: true
        source: '../..'
        path: '/www'
        type: 'nfs'
        owner: 'vagrant'
        group: 'www-data'
        dmode: 775
        fmode: 664
        nfs_options:
          - nolock
          - udp
          - v3

    ssh:
      enabled: true
      folder: '~/.ssh/'

    provision:
      tmp-folder:
        enabled: true
        type: shell-inline
        inline: 'chmod 777 /tmp'
      run-composer:
        enabled: true
        type: shell
        file: '/home/vagrant/provision/shell/run-composer.sh'
      puppet:
        enabled: true
        type: puppet
        folder: '../puppet'
        options:
          - manifests
          - modules

    plugins:
      hostmanager:
        enabled: true
        manage_host: true
        ignore_private_ip: false
        include_offline: true
        aliases:
          - my-1337-project.local
      winnfsd:
        enabled: true
        logging: false
