enabled: true
verbose: true

# Machine settings. Each entry is one box
machines:

  # Machine LPS
  lps:

    # Box related settings
    box:
      name: invade/default

    # VM related settings. Performance, naming
    vm:
      name: 'my-1337-project'
      provider: 'virtualbox'
      cores: 4
      memory: 512

    # Network settings
    network:
      type: 'private'
      ip: '10.42.133.7'
      hostname: 'invaded.vm'

    # Synced Folder settings
    synced_folder:
      www:
        enable: true
        source: '../..'
        path: '/www'
        type: 'nfs'
        owner: 'vagrant'
        group: 'www-data'
        dmode: 775
        fmode: 664
        nfs_options:
          - nolock
          - udp
          - v3

    ssh:
      enabled: true
      folder: '~/.ssh/'

    puppet:
      enabled: true
      folder: '../puppet'

    plugins:
      hostmanager:
        enabled: true
        manage_host: true
        ignore_private_ip: false
        include_offline: true
        aliases:
          - my-1337-project.local
      winnfsd:
        enabled: true
        logging: false
