invade:
  # debug: true

#hostmanager:
#  enabled: true

# Machine settings. Each entry is one box
machines:

  # Machine 1 (default)
  default:

    # VM related settings
    vm:
      box: boxcutter/debian82
      hostname: 'invade.vm'

    # Network settings
    network:
      private:
        ip: '10.42.133.7'

    # SSH settings
    ssh:
      forward_agent: true

    # Provider related settings. Performance, naming
    provider:

      vmware:
        name: 'invade'
        cores: 4
        memory: 512

      virtualbox:
        name: 'invade'
        cores: 4
        memory: 512

    # Synced Folder settings
    # synced_folder:
    #   www:
    #     type: nfs
    #     path: '/www'
    #     source: '..'
    #     mount_options:
    #       - nolock
    #
    #   ssh:
    #     type: nfs
    #     path: '/home/vagrant/.ssh/'
    #     source: '/Users/$USER/.ssh/'

    # provision:
    #   set-permissions:
    #     type: shell-inline
    #     inline: 'chmod 777 /tmp'

    #   run-composer:
    #     type: shell
    #     path: '/home/vagrant/provision/shell/run-composer.sh'

    #   puppet-agent:
    #     type: 'puppet'
    #     manifests_path: 'puppet/manifests'
    #     manifest_file: 'init.pp'
    #     module_path:
    #       - 'puppet/modules'
    #       - 'puppet/vendor'
    #     facter:
    #       composer: true
    #       shared_folder_type: 'nfs'
    #       shared_folder_path: '/www'
    #       package_state: 'present'
    #       apt_update: true

    plugin:
      #hostmanager:
      #  aliases:
      #    - my-1337-project.local

      #winnfsd:
      #  enabled: true
      #  loggin: false

      #r10k:
      #  enabled: true
      #  puppet_dir: 'puppet'
      #  puppetfile_path: 'puppet/Puppetfile'
      #  module_path: 'puppet/vendor'
      #  modules:
      #    ssh:
      #      url: 'https://github.com/innogames/invade-puppet-ssh.git'
      #    mysql:
      #      url: 'https://github.com/example42/puppet-mysql.git'
      #      version: '2.1.5'
